.numbers {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1px;
    width: 90px;

}
.sign {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1px;
    width: 90px;
}

#display {
     height: 50px;
  width: 100px;
  background-color: rgb(216, 216, 216);
}