@import url('https://fonts.googleapis.com/css?family=Sarabun');

#display {
   width: 92.90%;
   font-size: 3rem;
   border: none;
   background-color: #ffffff;
   color: #252525;
   text-align: right;
   padding-right: 20px;
   padding-left: 10px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
   0 6px 20px 0 rgba(0, 0, 0, 0.19);
   
}

body{
    display: grid;
  justify-content: center;
  background-color: #77997C;
  height:100%;
}

.title-calculator {
  color:#333;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Sarabun', sans-serif;
    
}

@media (min-width: 300px) {
  .App-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
        padding: 20px;
    transform: translate(-50%, -50%);
    width: 310px;
    background-color: #8BC34A;
    /* padding-bottom: 30px; */
     grid-template-areas:
      "advert header" 
      "advert content"
      "advert footer";
     
  }
  .button_container{
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 grid-gap: 10px;

}
#clear {
  background-color: aquamarine;
  border: none;
  color: #333;
  text-decoration: none;
  font-size: 16px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 2px;
  grid-area: 5 / 3/ 6 / 4;
}


.button_numbers {
  color: #fff;
  background-color: #58595B;
  padding: 12px 24px;
  border: none;
  text-decoration: none;
  font-size: 14px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#display {
  width: 270px;
  font-size: 2rem;
  margin: 10px;
  border: none;
  background-color: #ffffff;
  color: #252525;
  text-align: right;
  padding-right: 20px;
  padding-left: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
#equals {
    background-color: rgb(194, 58, 137);
    border: none;
text-decoration: none;
 border-radius: 10px;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 margin:2px;
   color: #fff;
   grid-area: 2 / 4 / 6 / 5;

}
}

